# Data Science Tools for Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Java
2. python
3. r
4. scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

### Data Science Tools

Anaconda <br>
Jupyter Notebooks <br>
R Studio <br>
Spyder<br>
Zeppelin <br>

In [3]:
print(3+4)

7

### Below are a few examples of evaluating arithematic expressions in python

In [4]:
(3*4)+5  # This a simple arithmetic expression to mutiply then add integers

17

In [8]:
200/60 # This will convert 200 minutes to hours by diving by 60

3.3333333333333335

##### Objectives

- Add comments to code cells
- Create markdown cells
- Add ordered and unordered lists to markdown cells
- Format content of markdown cells with heading styles

## Author(s)

Prasanna Kumar Nallam